@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');

.loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

td {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #616161;
}

th {
  margin-top: 10px;
  color: rgba(108, 120, 189, 0.904);
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  text-align: left;
  background: rgba(196, 196, 196, 0.185);
  border-radius: 5px;
  border: 1px solid rgba(196, 196, 196, 0.185);
}

.search-title {
  margin-bottom: 20px;
  margin-right: 5%;
  margin-top: 10px;
  float: right;

}

.like-button {
  position: absolute;
  left: 18%;
}