.App {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
.App-header {
  position: relative;
}
  
.home-button {
  text-align: right;
}
.Line {
    /* height: 1px; */
    border-top: 3px solid #ccc;
    margin-top: 15px;
    width: 100%;
    height: 2px;
}
.logo-image{
    width: 10%;
    height: auto;
  }
.loading-gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.loading-background{
    background-color: rgba(252, 238, 244, 0.356);
    width: 100vw;
    height: 100vh;
}

.list-header{
  display:block;
  width: 93%;
  height: 4%;
  margin-left:auto;
  margin-right:auto;
  background: rgba(196, 196, 196, 0.185);
  border-radius: 20px;
}
p{
  display: inline-block;
  padding-left: 13%;
  margin-top: 10px;
  color: rgba(108, 120, 189, 0.733);
  font-size: 16px;
  font-weight: bold;
}