.Signup {
    display: flex;
    flex-flow: column;
    height: 100vh;
}


.Signup-body {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.Signup-body:after {
    background-image: url(../../static/images/signupimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    filter: alpha(opacity=50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}

.Signup-form {
    padding: 10px;
    background-color: rgba(241, 240, 239, 0.719);
    width: 60%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Signup-title {
    font-size: 16px;
    font-weight: bold;
}

.profile-image {
    border-radius: 50%;
}

.profile-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile-input+label {
    font-size: 12px;
    padding: 10px;
    font-weight: 700;
    color: #333;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}