@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

.Signup-form {
    padding: 15px;
    background-color: #f1f0efcc;
    border: 3px solid rgba(139, 169, 189, 0.288);
    width: 30%;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
}

.profile-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile-input+label {
    font-size: 10px;
    padding: 11px;
    font-weight: 700;
    border-radius: 30px;
    color: rgba(51, 51, 51, 0.911);
    background-color: #f5f3f3;
    border: 0.5px solid rgba(51, 51, 51, 0.479);
    display: inline-block;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
}

.close-button {
    right: 0;
    position: absolute;
    z-index: 5;
}